@charset "utf-8";
/* CSS Document */

.hidden {
	display: none;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	letter-spacing: 2px;
	color: #A2AAB0;
	text-align: center;
	line-height: 150%;
}

h2 {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: #2B4251;
	letter-spacing: 3.5px;
	font-size: 22px;
	padding: 50px 0 30px 0;
	margin: 0 auto;
	text-align: center;
	border-bottom: 1px solid #A2AAB0;
	max-width: 85%;
}

h3 {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: #5B7D87;
	letter-spacing: 3.5px;
	font-size: 20px;
	padding: 30px 0 10px 0;
	text-align: center;
}

h4 {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	color: #3E3E3B;
	letter-spacing: 3.5px;
	font-size: 18px;
	padding: 0 0 10px 0;
	text-align: center;
}

a {
	color: #2E323C;
	text-decoration: none;
	transition: all 1s linear;
}

/* Main Navagation Ham */

/*.title-bar {
	background-color: #91B3BC;
	padding-right: 0;
}

.title-bar .menu-icon {
	margin-right: 20px;
	margin-top: 10px;
}

.menu-icon:after {
	background: #FC6C6C;
	box-shadow: 0 7px 0 #FC6C6C, 0 14px 0 #FC6C6C;
}

.menu-icon:hover::after {
	background: #215445;
	box-shadow: 0 7px 0 #215445, 0 14px 0 #215445;
}*/

/* Main Navagation Web */
#mainNav {
	margin: 0 auto;
	list-style-type: none;
	text-align: center;
	overflow: hidden;
	background-color: #91B3BC;
}

#mainNav li a {
	display: block;
	padding: 10px 80px 10px 80px;
	font-size: 18px;
	color: #2E323C;
	overflow: hidden;
	letter-spacing: 3.5px;
}

#mainNav li a:hover {
	background-color: #FC6C6C;
}

.menu simple {
	text-align: center;
}

/* Splash Page */

#logo {
	display: block;
	margin: 0 auto;
	max-width: 500px;
	padding-top: 20px;
}

#scrollDown {
	display: block;
	margin: 0 auto;
	max-width: 35px;
	height: 120vh;
}

#homeParallax {
	background: url('../images/homepage.jpg') no-repeat;
	background-color: #91B3BC;
	height: 100vh;
	width: 100%;
	/*Temp Parallaxing*/
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
}

/* Skills Page */

#skillsCon {
	margin: 150px 0 10px 0;
	padding: 0 60px 0 60px;
	height: 45vh;
	background-color: #fff;
}

.skillsIcon {
	max-width: 100px;
	display: block;
	margin: 0 auto;
}

/* Portfolio Page */

#portCon {
	background-color: #EBECED;
	height: 300vh;
	box-shadow: 0 5px 20px #A2AAB0 inset;
}

.freshStart {
	margin: 150px 0 10px 0;
	padding: 0 80px 0 80px;
}

.freshStart p {
	margin: 40px 0 40px 0;
}

.mallerys {
	margin: 150px 0 10px 0;
	padding: 0 80px 0 80px;
}

.mallerys p {
	margin: 40px 0 40px 0;
}

#visitSite {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-weight: bold;
	display: block;
	width: 200px;
	background-color: #91B3BC;
	color: #3E3E3B;
	text-align: center;
	font-size: 14px;
	padding: 10px 15px 10px 15px;
	margin: 0 auto;
	box-shadow: 3px 3px 15px #A2AAB0;
}

#visitSite:hover {
	background-color: #FC6C6C;
}