@charset "utf-8";
/* CSS Document */

.hidden {
	display: none;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	letter-spacing: 2px;
	color: #A2AAB0;
	text-align: center;
	line-height: 150%;
}

h1 {
	display: block;
    text-align: center;
    position: absolute;
    width: 100%;
	font-size: 60px;
	letter-spacing: 3.5px;
	font-weight: bolder;
}

h2 {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: #2B4251;
	letter-spacing: 3.5px;
	font-size: 22px;
	padding: 50px 0 30px 0;
	margin: 0 auto;
	text-align: center;
	border-bottom: 1px solid #A2AAB0;
	max-width: 85%;
}

h3 {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: #5B7D87;
	letter-spacing: 3.5px;
	font-size: 20px;
	padding: 30px 0 10px 0;
	text-align: center;
}

h4 {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	color: #3E3E3B;
	letter-spacing: 3.5px;
	font-size: 18px;
	padding: 0 0 10px 0;
	text-align: center;
}

a {
	color: #2E323C;
	text-decoration: none;
	transition: all 1s linear;
}

/*Loading Screen*/
#loaderCon {
	background-color: #2E323C;
}

.O {
	animation-delay: 0.25s;
}

.A {
	animation-delay: 0.5s;
}

.D {
	animation-delay: 0.75s;
}

.I {
	animation-delay: 1s;
}

.N {
	animation-delay: 1.25s;
}

.G {
	animation-delay: 1.5s;
}

@keyframes fade {
	0% {
		color: #FC6C6C;
	}

	50% {
		color: #5B7D87;
	}

	100% {
		color: #FC6C6C;
	}
}

/* Main Navagation Web */
#mainNav {
	margin: 0 auto;
	list-style-type: none;
	text-align: center;
	overflow: hidden;
	background-color: #91B3BC;
}

#mainNav li a {
	display: block;
	padding: 10px 80px 10px 80px;
	font-size: 18px;
	color: #2E323C;
	overflow: hidden;
	letter-spacing: 3.5px;
}

#mainNav li a:hover {
	background-color: #FC6C6C;
}

.menu simple {
	text-align: center;
}

/* Splash Page */

#logo {
	display: block;
	margin: 0 auto;
	max-width: 500px;
	padding-top: 20px;
	margin-bottom: 50px;
}

.TXTanimation {
	color: #2E323C;
    text-align: center;
    width: 100%;
	font-size: 60px;
	letter-spacing: 3.5px;
	font-weight: bolder;
}

.typed-cursor {
	font-size: 60px;
}

#scrollDown {
	display: block;
	margin: 0 auto;
	max-width: 35px;
	padding-top: 450px;
}

#homeParallax {
	background: url('../images/homepage.jpg') no-repeat;
	background-color: #91B3BC;
	height: 100vh;
	width: 100%;
	/*Temp Parallaxing*/
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
}

/* Skills Page */

#skillsCon {
	margin: 50px 0 200px 0;
	padding: 0 60px 0 60px;
	/*height: 45vh;*/
	background-color: #fff;
}

.skillsIcon {
	max-width: 100px;
	display: block;
	margin: 0 auto;
	padding-top: 80px;
}

/* Portfolio Page */

#portCon {
	background-color: #EBECED;
	/*height: 150vh;*/
	box-shadow: 0 5px 20px #A2AAB0 inset;
}

.freshStart {
	margin-top: 150px;
}

.freshStart p {
	margin: 40px 0 40px 0;
}

.mallerys {
	margin: 150px 0 100px 0;
}

.mallerys p {
	margin: 40px 0 40px 0;
}

.more {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-weight: bold;
	letter-spacing: 3.5px;
	display: block;
	width: 200px;
	background-color: #91B3BC;
	color: #3E3E3B;
	text-align: center;
	font-size: 14px;
	padding: 10px 15px 10px 15px;
	margin: 0 auto;
	transition: all 1s linear;
}

.more:hover {
	background-color: #FC6C6C;
	cursor: pointer;
	transition: all 1s linear;
}

.titleHover h3:hover {
	color: #FC6C6C;
}

/* Lightbox Starts */
.lightbox {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	background-color: rgba(46, 50, 60, 0.7);
	color: #A2AAB0;
	z-index: 500;
	padding-top: 20px;
	margin-top: 0;
}

.lightbox-style {
	max-width: 1100px;
	margin: 0 auto;
	background-color: #A2AAB0;
	padding: 20px;
	color: grey;
}

.lightbox-img {
	width: 100%;
}

.desc {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	text-align: center;
}

.close-lightbox {
	float: right;
	margin-right: 18px;
	margin-top: 12px;
	font-size: 2em;
	cursor: pointer;
}

.lightbox-img {
	display:block;
}

/* About Page Starts */
#aboutFront {
	background: url('../images/aboutpage.jpg') no-repeat;
	background-color: #91B3BC;
	min-height: 800px;
	width: 100%;
	/*Temp Parallaxing*/
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
}

.titleSec {
	margin: 0 auto;
	margin-top: 300px;
	padding-top: 80px;
	padding-bottom: 80px;
	/*background-color: #91B3BC;*/
	background-color:rgba(145, 179, 188, 0.8);
	text-align: center;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-weight: bold;
	letter-spacing: 3.5px;
	font-size: 26px;
	color: #2B4251;
}

#aboutCon {
	background-color: #fff;
	overflow: hidden;
}

.pCenter {
	margin: 0 auto;
	text-align: center;
	width: 500px;
	margin-top: 50px;
}

#promPic {
	margin-top: 100px;
	margin-bottom: 100px;
}

.aboutP {
	margin-bottom: 100px;
}

#aboutPic {
	width: 800px;
	margin-bottom: 100px;
	box-shadow: 0 5px 10px #A2AAB0;
}

/*Contact Page Starts*/
#contactFront {
	background: url('../images/contactpage.jpg') no-repeat;
	background-color: #91B3BC;
	min-height: 800px;
	width: 100%;
	/*Temp Parallaxing*/
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
}

#contactArea {
	background-color: #2E323C;
}

#contactArea h2 {
	color: #5B7D87 !important;
}

#contactArea h3 {
	color: #91B3BC !important;
}

#contactForm {
	margin-top: 50px;
	margin-bottom: 50px;
}

#name {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	color: #3E3E3B;
	padding: 25px 0px 25px 15px;
}

#email {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	color: #3E3E3B;
	padding: 25px 0px 25px 15px;
}

#subject {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	color: #3E3E3B;
	padding: 25px 0px 25px 15px;
}

#message {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	color: #3E3E3B;
	padding: 25px 0px 25px 15px;
}

/*::placeholder {
	color: #3E3E3B;
}*/

#send {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-weight: bold;
	letter-spacing: 3.5px;
	display: block;
	width: 200px;
	background-color: #91B3BC;
	color: #3E3E3B;
	text-align: center;
	font-size: 14px;
	padding: 10px 15px 10px 15px;
	margin: 0 auto;
	transition: all 1s linear;
}

#send:hover {
	background-color: #FC6C6C;
	cursor: pointer;
	transition: all 1s linear;
}

/*Footer Starts*/
#mainFooter {
	background-color: #FC6C6C;
}

.socialMedia {
	width: 5%;
	margin: 150px 50px 40px 50px;
}

#copyright {
	margin-top: 10px;
	color: #000000;
	letter-spacing: 3.5px;
	font-size: 10px;
}

/* Thank You Page Starts */

.backButton {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-weight: bold;
	letter-spacing: 3.5px;
	display: block;
	width: 200px;
	background-color: #91B3BC;
	color: #3E3E3B;
	text-align: center;
	font-size: 14px;
	padding: 10px 15px 10px 15px;
	margin: 0 auto;
	transition: all 1s linear;
	margin-top: 30px;
}

.backButton:hover {
	background-color: #FC6C6C;
	cursor: pointer;
	transition: all 1s linear;
}

/* Media Queries */

@media screen and (max-width: 803px) {
	.TXTanimation {
		font-size: 45px;
	}

	.typed-cursor {
		font-size: 45px;
	}
}

@media screen and (max-width: 600px) {
	.TXTanimation {
		font-size: 25px;
	}

	.typed-cursor {
		font-size: 25px;
	}
}

@media screen and (min-width: 1023px) {
	#skillsCon {
		margin: 50px 0 150px 0;
	}
}

@media screen and (max-width: 1275px) {
	.freshStart {
		max-width: 90%;
	}

	.freshStart p {
		margin: 10px 0 20px 0;
	}

	.mallerys {
		max-width: 90%
	}

	.mallerys p {
		margin: 10px 0 20px 0;
	}

	#bottomLine {
		border-bottom: 1px solid #A2AAB0;
		margin-top: 55px;
	}
}

@media screen and (max-width: 1145px) {
	.freshStart {
		max-width: 100%;
	}

	.mallerys {
		max-width: 100%;
	}
}

@media screen and (max-width: 1023px) {
	.freshStart {
		margin-top: 50px;
		text-align: center;
	}

	.mallerys {
		margin-top: 50px;
		margin-bottom: 20px;
	}
}

@media screen and (min-width: 1024px) {
	#bottomLine {
		display: none;
	}
}

@media screen and (max-width: 717px) {
	.socialMedia {
		margin: 50px 20px 20px 20px;
	}
}

@media screen and (max-width: 830px) {
	#mainNav li a {
		padding: 10px 60px 10px 60px;
		font-size: 16px;
	}
}

@media screen and (max-width: 688px) {
	#mainNav li a {
		padding: 10px 30px 10px 30px;
		font-size: 14px;
	}
}

@media screen and (max-width: 486px) {
	#mainNav li a {
		padding: 10px 10px 10px 10px;
		font-size: 12px;
	}
}